html,body{
  width: 100%;
  height: 100%
}
body {
  margin: 0;
}
#app{
  width: 1190px;
  min-height: 100%;
  margin: 0 auto;
}
.header{
  width: 100%;
  height: 50px;
}
.main{
  width: 100%;
  display: flex;
}
#local{
  flex: 1;
  position: relative;
  overflow: hidden;
}
#remote{
  flex: 1;
  position: relative;
  overflow: hidden;
}
.game {
  width: 300px;
  height: 500px;
  background-color: #f2faff;
  border: 1px solid blue;
  border-top: none;
  margin: 10px 0 0 10px;
  position: relative;
  float: left;
}
.next{
  width: 80px;
  height: 80px;
  position: absolute;
  top: 10px;
  left: 350px;
  background-color: #f2faff;
  border: 1px solid blue;
}
.info{
  position: absolute;
  top: 100px;
  left: 350px;
}
.none,.current,.done{
  width: 20px;
  height: 20px;
  position: absolute;
  box-sizing: border-box;
}
.current{
  background-color: pink;
  border: 1px solid red;
}
.done{
  background-color: gray;
  border: 1px solid #000;
}
.footer{
  margin: 30px 0 0 50px
}
