html,body{
  width: 100%;
  height: 100%
}
body {
  margin: 0;
}
#app{
  width: 1190px;
  min-height: 100%;
  margin: 0 auto;
  position: relative;
  padding-bottom: 50px;
}
.header{
  width: 100%;
  height: 50px;
  line-height: 50px;
}
.main{
  width: 100%;
  display: flex;
}
#local{
  flex: 1;
  position: relative;
  overflow: hidden;
}
#remote{
  flex: 1;
  position: relative;
  overflow: hidden;
}
.game {
  width: 300px;
  height: 500px;
  background-color: #000;
  border: 10px double #819CA6;
  border-top: none;
  margin: 10px 0 0 10px;
  position: relative;
  float: left;
}
.next{
  width: 80px;
  height: 80px;
  position: absolute;
  top: 10px;
  left: 350px;
  background-color: #000;
  border: 5px inset #819CA6;
}
.info{
  position: absolute;
  top: 100px;
  left: 350px;
}
.none,.current,.done{
  width: 20px;
  height: 20px;
  position: absolute;
  box-sizing: border-box;
}
.current{
  background-color: #FF0000;
  border: 2px solid;
  border-left-color: #CAFFE0;
  border-top-color:#CAFFE0;

}
.done{
  background-color: gray;
  border: 2px solid;
  border-left-color: #CAFFE0;
  border-top-color:#CAFFE0;
}
.aside{
  position: absolute;
  left: 430px;
  bottom: 200px; 
}
.aside>button{
  width: 100px;
  height: 30px;
  line-height: 30px;
}
.show{
  display: block;
}
.hide{
  display: none;
}
